<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kborid.setting">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--排序系统任务权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.thunisoft.cocallmobile.permission.CHOOSECONTACTS" />

    <application
        android:name=".PRJApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="com.kborid.setting.ui.main.MainActivity"
            android:alwaysRetainTaskState="true"
            android:allowTaskReparenting="true"
            android:clearTaskOnLaunch="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />-->
        <activity
            android:name=".ui.TransActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:finishOnTaskLaunch="true"
            android:theme="@style/AppTheme.TranslateTheme" />

        <activity
            android:name=".ui.lock.LockDemoActivity"
            android:taskAffinity="com.kborid.setting.lock"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.launchIatSpeech" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ThirdActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".ui.LifeCycleActivity" />

        <service android:name=".service.CoCallService" />
        <service android:name=".service.CoCallService$CoCallInnerService" />
        <service android:name="com.kborid.demo.IntentServiceDemo" />
        <service
            android:name="com.kborid.demo.JobServiceDemo"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".messenger.TestMessengerServer" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>