<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kborid.smart">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:name="com.kborid.smart.PRJApplication"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.kborid.smart.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.duanwei.test"/>
            </intent-filter>
        </activity>

        <activity android:name="com.kborid.smart.activity.WebViewActivity"
            android:icon="@mipmap/brower"
            android:label="WebView">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name="com.kborid.smart.activity.FragmentContainerActivity"/>
        <activity android:name="com.kborid.smart.activity.RecyclerViewTestActivity"/>
        <activity android:name="com.kborid.smart.imageloader.UniversalActivity"/>
        <activity android:name="com.kborid.smart.imageloader.PicassoActivity"/>
        <activity android:name="com.kborid.smart.imageloader.GlideActivity"/>

        <service android:name="com.kborid.smart.service.SmartCounterService"/>
        <service android:name=".service.LocationService"/>

        <provider
            android:authorities="com.kborid.smart.provider.TestProvider"
            android:name=".provider.TestProvider"
            android:exported="false"/>
    </application>

</manifest>